$apmared: #EE1C24;
$gold: #F0BD1B;

h1,h2,h3,h4,h5,h6{
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

.no-margin{
  margin: 0 auto !important;
}

.header-emblem{
  width: 100px !important;
  height: 100px !important;
  cursor: default;
  margin-bottom: 20px;
  background-color: $apmared;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  i{
    font-size: 30px;
    line-height: 100px !important;
    color: white;
  }
}

.fearless-header {
    color: $apmared;
    text-shadow: 0px 0px 25px rgba(0,0,0,0.4);
}

.parallax-container{
  height: 650px;
  .valign{
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
    position: relative;
  }
}

.likes{
  position: absolute;
  bottom: 29px;
  right: 20px;
}

.apmalogo{
  max-width: 640px;
  padding-left: 20px;
  padding-right: 20px;
}

.full-w{
  width: 100%;
}

.new{
  background-color: $apmared !important;
  &:after{
    display: none;
  }
}

.gradient-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: rgb(84,10,11); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(84,10,11,1) 0%, rgba(238,27,36,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(84,10,11,1) 0%,rgba(238,27,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(84,10,11,1) 0%,rgba(238,27,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#540a0b', endColorstr='#ee1b24',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  z-index: 0;
}

.header{
  &:after{
    content: '';
    width: 100%;
    height: 75px;
    background-image: url('https://s3.amazonaws.com/myfangate.com/fearlessapmas2016/tornpaper.png');
    position: absolute;
    margin-top: -70px;
    z-index: 99999999999;
  }
}

.shadowed {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

@media (max-width: 640px){
  .fearless-header{
    font-size: 33px !important;
  }
  .parallax{
    display: none;
  }
  .parallax-container{
    background-image: url('https://s3.amazonaws.com/myfangate.com/fearlessapmas2016/stagecompressed.jpg');
    background-size: cover;
    background-position: center center;
  }
}

.chevron{
  background-color: white;
}

.section-divider{
  position: relative;
  margin-bottom: 40px;
  hr{
    max-width: 800px;
  }
  .chevron{
    position: absolute;
    top: -9px;
    width: 50px;
    left: 50%;
    margin-left: -25px;
  }
}

#hidden_iframe{
  display: none;
}

.gold{
  background-color: $gold !important;
  i{
    color: black !important;
  }
}

.margin-top{
  margin-top: 5%;
}
