<div class="row header">
  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="https://s3.amazonaws.com/myfangate.com/fearlessapmas2016/stagecompressed.jpg"></div>
    <div class="gradient-overlay"></div>
    <div class="valign center-align">
      <h2 class="fearless-header">#FEARLESSatAPMAS</h2>
      <img class="apmalogo full-w shadowed" src="https://s3.amazonaws.com/myfangate.com/fearlessapmas2016/apmalogo.png">
    </div>
  </div>
</div>
