<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <div class="header-emblem z-depth-1"><i class="fa fa-play" aria-hidden="true"></i></div>
        <div class="section-divider">
          <hr>
          <div class="chevron">
            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
          </div>
        </div>
        <h3 class="no-margin apmabluetext">CHECK OUT THESE RECENT SUBMISSIONS (#InsertHashtag)</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="instafeed" class="row masonry-grid"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center-align">
      <div id="load-more" class="btn-large full-w black">LOAD MORE</div>
    </div>
  </div>
</div>
