<div class="container">
  <div id="instafeed" class="row masonry-grid"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center-align">
      <div id="load-more" class="btn-large full-w black">LOAD MORE</div>
    </div>
  </div>
</div>
