<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <div class="header-emblem z-depth-1 gold"><i class="fa fa-envelope" aria-hidden="true"></i></div>
      <div class="section-divider">
        <hr>
        <div class="chevron">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
      </div>
      <h3 class="no-margin">JOIN THE MAILING LIST</h3>
    </div>
    <div class="col s10 offset-s1 center-align">
    <p>Be the first to receive updates by entering your information below</p>
    <iframe id="hidden_iframe" name="hidden_iframe"></iframe>
        <form action="#" method="POST" target="hidden_iframe"></form>
    </div>
  </div>
</div>
